# Examen Parcial n°1 2da Parte - TLP3 - Python para Ciencia de Datos.

**A partir del datasets brindado, realizar los siguientes procedimientos:**

* Importar datasets con Pandas.
* Explorar los datos con los metodos correspondientes. 
* Limpieza de los datos (Normalización de datos).
* Obtener estadisticas.
* Mostrar los datos procesados con graficos utilizando la libreria Matplotlib.
* Exportar el contenido a un archivo sqlite utilizando PANDAS.


**Importante: Se debe documentar cada procedimiento realizado, siguiendo la siguiente estructura:**

1. Celda de Markdown (Documentación)
2. Código (Sin comentarios, se debe documentar lo sufiente solo en la celda de markdown).


### Criterios de Evaluación:

1. No esta permitido el uso de IAs durante el examen. (Desactivar Copilot o cualquier herramienta de IA para autocompletar codigo.)

2. Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).

3. Comentarios claros y concisos que expliquen el propósito de cada sección del código en una celda de markdown antes del código.

4. Utilizar mensajes de commit descriptivos. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE).

5. Entrega en tiempo y forma (Parciales entregados fuera de hora o con commits pasados el horario de entrega quedará invalidado.)

6. Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: 
**parcial1_tlp3_nombre_apellido**).

7. Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter.

8. Deben trabajar con el datasets adjunto.

9. Una vez finalizado el examen, los resultados deben quedar guardados debajo de cada celda (NO EJECUTAR LA OPCIÓN "borrar todas las salidas").

**Importante:** Una vez finalizado el examen, marcar como completado en el classroom.

## Actividades: 
### 1. Importación del Dataset con Pandas

En esta sección, se debe utilizar la librería Pandas para cargar el archivo CSV que contiene los datos de VOTACIONES en un Datasets.

### 2. Exploración Inicial de los Datos

A continuación, se deben emplear métodos de Pandas para obtener una visión general del dataset. 
- 2.1: Visualizar las primeras filas y ultimas.
- 2.2: Obtener informacion del df con su metodo correspondiente.
- 2.3: Hacer un conteo de valores nulos.

### 3. Limpieza y Normalización de los Datos

- 3.1. Esta etapa crucial deben aplicar la corrección de diversos errores presentes en el dataset. Se abordarán los valores faltantes (Deben aplicar los metodos que ustedes crean convenientes **(Solo 1)**, por ejemplo: Eliminación de filas, cubrir valores con media, mediana, etc.)
- 3.2: La columna Fecha deberan pasarla al tipo datetime con su metodo correspondiente.
- 3.3: Corregir las mayusculas en el caso de Nombre y Apellido (Si es que corresponde.)
- 3.4: En el caso de los votos, aplicar mayusculas a cada fila.
- 3.5 EL campo DNI debe ser del tipo INT.


### 4. Obtención de Estadísticas Descriptivas

Después de la limpieza, deben hacer lo siguiente: 

- 4.1: calcular nuevamente las estadísticas descriptivas para observar el impacto del proceso de limpieza en los datos numéricos.
- 4.2: Calcular estadísticas específicas por grupo (Agrupar dos columnas).

### 5. Visualización de los Datos con Matplotlib

En esta sección, deben utilizar la librería Matplotlib para crear **UNA** visualización que permitan comprender mejor los datos de ventas.El grafico es a elección, puede crear **UNO** de los siguientes: histogramas, diagramas de dispersión, gráficos de barras y graficos de torta.

### 6. Exportación a Archivo SQLite

Finalmente, deben utilizar la funcionalidad de Pandas para guardar el DataFrame procesado en una base de datos SQLite. Deben hacer una conexión y hacer una consulta para ver si los datos fueron cargados correctamente.

## **IMPORTACIONES**

In [26]:
import pandas as pd
import matplotlib.pyplot as plt

## **1. Importación del Dataset con Pandas**

En el siguiente bloque de codigo hacemos uso de Pandas para cargar el archivo csv.

In [27]:
df = pd.read_csv('votaciones.csv')

## **2. Exploración inicial de los datos**

En el siguiente bloque hacemos un vistazo superficial de los datos del DataFrame.

In [28]:
print("PRIMERAS 5 FILAS\n")
print(df.head())

print("\nÚLTIMAS 5 FILAS\n")
print(df.tail())

print("\nINFORMACIÓN GENERAL\n")
print(df.info())

print("\nCANTIDAD DE CAMPOS NULOS\n")
print(df.isnull().sum())

PRIMERAS 5 FILAS

    nombre apellido         dni     provincia  voto fecha_votacion
0  pánfilo    pombo  34787190.0  buenos aires  nulo     2024-11-22
1   albina  heredia  48336819.0      santa fe  nulo     2024-04-24
2      NaN   solano  49179364.0       neuquen  nulo     2024-05-20
3   salomé   barrio  43725639.0  buenos aires   NaN     05-06-2024
4   matías  esteban  30599927.0         chaco    no     10-07-2023

ÚLTIMAS 5 FILAS

       nombre apellido         dni provincia  voto fecha_votacion
96      carla    vidal  15161718.0  misiones  nulo     2023-09-12
97   federico  barrios  16171819.0   neuquen    no     11-09-2023
98      belen     vera  17181920.0   tucuman    sí     2023-09-10
99    gustavo    gauna  18192021.0  santa fe  nulo     09-09-2023
100     rocio    avila  19202122.0   formosa    no     08-09-2023

INFORMACIÓN GENERAL

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nombre          91 non-null     object
 1   apellido        94 non-null     object
 2   dni             90 non-null     float64
 3   provincia       95 non-null     object
 4   voto            96 non-null     object
 5   fecha_votacion  95 non-null     object
dtypes: float64(1), object(5)
memory usage: 4.9+ KB
None

CANTIDAD DE CAMPOS NULOS

nombre            10
apellido           7
dni               11
provincia          6
voto               5
fecha_votacion     6
dtype: int64

## **3. Limpieza y normalización de datos**

En los siguientes bloques aplicamos los métodos correspondientes para limpiar y normalizar los datos del DataFrame.

3.1. Se procede a eliminar toda fila que contenga al menos un campo vacío.

In [29]:
df.replace(['NaN'], pd.NA, inplace=True)
df.dropna(inplace=True)
df.isnull().sum()
df.head()

     nombre apellido         dni     provincia  voto fecha_votacion
0   pánfilo    pombo  34787190.0  buenos aires  nulo     2024-11-22
1    albina  heredia  48336819.0      santa fe  nulo     2024-04-24
4    matías  esteban  30599927.0         chaco    no     10-07-2023
6  gervasio      bou  33761658.0       mendoza    no     23-09-2023
7   brígida   angulo  22169546.0         chaco    no     2024-05-02

3.2. Convertimos la columna "fecha_votacion" a tipo Datetime.

In [ ]:
df["fecha_votacion"] = pd.Series(df["fecha_votacion"])

formato1 = pd.to_datetime(df["fecha_votacion"], format="%Y-%m-%d", errors="coerce")
formato2 = pd.to_datetime(df["fecha_votacion"], format="%d-%m-%Y", errors="coerce")

formato_final = formato1.combine_first(formato2)

df["fecha_votacion"] = formato_final

print(df["fecha_votacion"])

0     2024-11-22
1     2024-04-24
4     2023-07-10
6     2023-09-23
7     2024-05-02
         ...
96    2023-09-12
97    2023-09-11
98    2023-09-10
99    2023-09-09
100   2023-09-08
Name: fecha_votacion, Length: 63, dtype: datetime64[ns]
datetime64[ns]

3.3. En este bloque hacemos que todos los nombres, apellidos y provincias empiecen con mayúscula.

In [35]:
df["nombre"] = df["nombre"].str.title()
df["apellido"] = df["apellido"].str.title()
df["provincia"] = df["provincia"].str.title()
df.head()

     nombre apellido         dni     provincia  voto fecha_votacion
0   Pánfilo    Pombo  34787190.0  Buenos Aires  nulo     2024-11-22
1    Albina  Heredia  48336819.0      Santa Fe  nulo     2024-04-24
4    Matías  Esteban  30599927.0         Chaco    no     2023-07-10
6  Gervasio      Bou  33761658.0       Mendoza    no     2023-09-23
7   Brígida   Angulo  22169546.0         Chaco    no     2024-05-02

3.4. Aquí hacemos que los datos de la columna voto estén en mayúscula.

In [37]:
df["voto"] = df["voto"].str.upper()
df.head()

     nombre apellido         dni     provincia  voto fecha_votacion
0   Pánfilo    Pombo  34787190.0  Buenos Aires  NULO     2024-11-22
1    Albina  Heredia  48336819.0      Santa Fe  NULO     2024-04-24
4    Matías  Esteban  30599927.0         Chaco    NO     2023-07-10
6  Gervasio      Bou  33761658.0       Mendoza    NO     2023-09-23
7   Brígida   Angulo  22169546.0         Chaco    NO     2024-05-02

3.5. Convertimos la columna "dni" en tipo "int".

In [38]:
df["dni"] = df["dni"].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 63 entries, 0 to 100
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nombre          63 non-null     object
 1   apellido        63 non-null     object
 2   dni             63 non-null     int64
 3   provincia       63 non-null     object
 4   voto            63 non-null     object
 5   fecha_votacion  63 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 3.4+ KB

## **4. Obtención de estadísticas descriptivas**

4.1. Obtenemos nuevamente las estadísticas del DataFrame para ver si la limpieza y normalización fue exitosa.

In [39]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 63 entries, 0 to 100
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nombre          63 non-null     object
 1   apellido        63 non-null     object
 2   dni             63 non-null     int64
 3   provincia       63 non-null     object
 4   voto            63 non-null     object
 5   fecha_votacion  63 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 3.4+ KB

nombre            0
apellido          0
dni               0
provincia         0
voto              0
fecha_votacion    0
dtype: int64

4.2. Agrupamos las columnas "voto" y "fecha_votacion" para obtener un resumen estadístico.

In [40]:
df.groupby(['voto', 'fecha_votacion']).describe()

                      dni                                                      \
                    count        mean std         min         25%         50%
voto fecha_votacion
NO   2023-07-10       1.0  30599927.0 NaN  30599927.0  30599927.0  30599927.0
     2023-08-13       1.0  48066419.0 NaN  48066419.0  48066419.0  48066419.0
     2023-09-08       1.0  19202122.0 NaN  19202122.0  19202122.0  19202122.0
     2023-09-11       1.0  16171819.0 NaN  16171819.0  16171819.0  16171819.0
     2023-09-14       1.0  13141516.0 NaN  13141516.0  13141516.0  13141516.0
...                   ...         ...  ..         ...         ...         ...
SÍ   2024-05-03       1.0  18472805.0 NaN  18472805.0  18472805.0  18472805.0
     2024-08-06       1.0  32940620.0 NaN  32940620.0  32940620.0  32940620.0
     2024-11-22       1.0  17514893.0 NaN  17514893.0  17514893.0  17514893.0
     2024-12-28       1.0  13652459.0 NaN  13652459.0  13652459.0  13652459.0
     2025-03-25       1.0  23310842.0 NaN  23310842.0  23310842.0  23310842.0


                            75%         max
voto fecha_votacion
NO   2023-07-10      30599927.0  30599927.0
     2023-08-13      48066419.0  48066419.0
     2023-09-08      19202122.0  19202122.0
     2023-09-11      16171819.0  16171819.0
     2023-09-14      13141516.0  13141516.0
...                         ...         ...
SÍ   2024-05-03      18472805.0  18472805.0
     2024-08-06      32940620.0  32940620.0
     2024-11-22      17514893.0  17514893.0
     2024-12-28      13652459.0  13652459.0
     2025-03-25      23310842.0  23310842.0

[61 rows x 8 columns]